~*
crystal_datafiles/4to1_095.par
crystal_datafiles/MER18519_Ei50.00meV_One2One.nxspe
crystal_datafiles/MER18519_Ei50.00meV_One2One.nxspe.7z
crystal_datafiles/bcc_Fe.zip
crystal_datafiles/crystal_datafiles.7z
crystal_datafiles/misc_sqw_files.7z
crystal_datafiles/spurious1.sqw
crystal_datafiles/spurious2.sqw
crystal_datafiles/upd3_elastic.sqw
